<!doctype html>
<html lang="id" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Sosmed">
        <meta name="author" content="Aji Kowiyu">
        <title>Simple Sosmed - Beranda</title>
        <link rel="icon" href="/gambar/dosencoding-bw.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/custom/sign-in.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <main class="form-signin w-100 m-auto mt-5">
            <% if (message) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
            <form method="post" action="/proses-login">
                <img class="mb-4" src="/gambar/dosencoding-bw.png" alt="" height="57">
                <h1 class="h3 mb-3 fw-normal">Silakan Masuk</h1>
            
                <div class="form-floating">
                    <input type="text" class="form-control" name="form_username" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="form_password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            
                <button class="btn btn-primary w-100 py-2" type="submit">Masuk</button>
                <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
            </form>
        </main>
    </body>
</html>