<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Sosmed">
        <meta name="author" content="Aji Kowiyu">
        <title>Simple Sosmed - Beranda</title>
        <link rel="icon" href="/gambar/dosencoding-bw.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/custom/beranda.css">
        <link rel="stylesheet" href="/custom/cover.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                <h3 class="float-md-start mb-0">Simple Sosmed</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" href="/">Beranda</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                </nav>
                </div>
            </header>

            <main class="px-3">
                <h1>Social Media.</h1>
                <p class="lead">
                    Media sosial atau sering juga disebut sebagai sosial media adalah 
                    pelantar digital yang memfasilitasi penggunanya untuk saling berinteraksi 
                    atau membagikan konten berupa tulisan, foto, video, dan merupakan pelantar digital 
                    yang menyediakan fasilitas untuk melakukan aktivitas sosial bagi setiap penggunanya.
                </p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Lihat Selengkapnya...</a>
                </p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>Dibuat dengan semangat & cinta oleh Aji Kowiyu</p>
            </footer>
        </div>
    </body>
</html>
