<%- include('../template/head-start') %>
<%- include('../template/menu-atas') %>


<h1>Halaman Profil</h1>
<button class="btn btn-primary">tombol</button>
<i class="fa-solid fa-circle-user me-2"></i> Profil saya


<%- include('../template/head-end') %>
