<!doctype html>
<html lang="id" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Sosmed">
        <meta name="author" content="Aji Kowiyu">
        <title>Simple Sosmed</title>
        <link rel="icon" href="/gambar/dosencoding-bw.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/fontawesome/css/all.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/fontawesome/js/all.js"></script>
    </head>
    <body>